@import url(https://fonts.googleapis.com/css?family=Shrikhand:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root {

    /* Font Color */
    --primaire:#9356DC;
    --secondaire:#FF79DA;
    --tertiaire: #99E2D0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.is__container__img {
    height: auto;
    width: auto;
    object-fit: contain;
 }
 
.header{
    height: 6rem;
    padding: 0;
}

.header--wrapper--title{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 5px;

}

.header--wrapper-title--h3{
    font-family:'Shrikhand';
    font-weight: 400;
    font-size: 30px;
    color: black;
}

.header--search--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 17px;
    height: 50px;
    width: 100%;
    background: #EAEAEA;

}

.fa-location-dot{
    color: #353535;
}

.sub--header{
    padding-top: 39.5px;
    padding-bottom: 57px;
    background-color: #F6F6F6;
}

#search-bar{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color:#353535;
    border: 0px #EAEAEA;
    background-color:#EAEAEA;
    width: 109px;
}

.sub--header--title{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-right: 45px;
}

.sub--header--title--h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom:10px;
}

.sub--header--title--p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

#sub--header--wrapper--button{
    margin-top: 40px;
    height: 50px;
    width: 100%;
    border-radius: 25px;
    border: 0 none;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    
}

.sub--header--wrapper--button{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.filter--wrapper{
    display: grid;
    gap: 24.92px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 48px;
}

.filter-wrapper--title{
    padding-bottom: 26px;
}

.filter-wrapper--title--h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.filter--wrapper--search--1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    height: 72.38px;

}

.filter--wrapper--search--1--number{
    border: 1px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    transform: translateX(-50%);
}

.filter--wrapper--search--1--number--1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1818px;
    line-height: 17px;
    color: white;  
}

.filter--wrapper--search--1--title{
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.fa-mobile-screen-button{
    color: #7E7E7E;
    margin: 0 20px;
}

.filter--wrapper--search--2--number{
    border: 1px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    transform: translateX(-50%);
}

.filter--wrapper--search--2--number--2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1818px;
    line-height: 17px;
    color: white;
}

.filter--wrapper--search--2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    height: 72.38px;
}

.filter--wrapper--search--2--title{
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.fa-list-ul{
    color: #7E7E7E;
    margin: 0 20px;
}

.filter--wrapper--search--3--number{
    border: 1px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    transform: translateX(-50%);
}

.filter--wrapper--search--3--number--3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1818px;
    line-height: 17px;
    color: white;
}

.filter--wrapper--search--3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    height: 72.38px;
}

.filter--wrapper--search--3--title{
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.fa-store{
    color: #9356DC;
    margin: 0 20px;
}


.restaurants{
    background-color:#F7F7F7;
    padding-bottom: 65px;
}

.restaurants--title{
    display: flex;
    padding-top: 54px;
    padding-left: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    size: 24px;
    color: black;
    margin-top: 54px;
    margin-bottom: 25px;
}

.restaurants--cards{
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    gap: 20px;
}

.restaurants--card--image{
    position: relative;
}

.restaurants--card--new{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #99E2D0;
    border-radius: 2px;
    width: 80px;
    height: 29px;
    top: 13px;
    right: 13px;

}

.restaurants--card--new>p{
    font-family: 'Roboto';
    font-weight: 500;
    size: 14px;
    color:#008766;
}

.restaurants--card--image>img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.restaurants--block{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    border-radius: 0 0 15px 15px;
    background-color: white;
    margin-top: -3px;
}

.restaurants--block--info{
    margin-left: 13px;
    color: black;
    
}

.restaurants--block--name{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
}

.restaurants--block--city{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    
}

.restaurants--block--heart{
    width: 22px;
    height: 21px;
    border: 1px #101010;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#353535;
}

.footer--block{
    width: 100%;
    margin-top: 22px;
    padding: 0 25px;
}

.footer--title{
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: white;
    margin-bottom: 15px;
}

.footer--block--lists{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer--block--list{
    display: flex;
    gap: 10px;
    color: white;
}

.footer--block--list--title:nth-child(2){
    font-family:'Roboto';
    font-weight: 500;
    font-size: 16px;
}

.footer--block--list--title:nth-child(1){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}